__pycache__/
instance/
.env
.env.*
.env.local
.env.*.local
*.sqlite3
chroma_db/
*.pyc
.vscode/
.idea/
.DS_Store
uploads/
htmlcov/
report.html
.coverage
.pytest_cache/
*.db
.vercel
build/
dist/
*.egg-info/
